.hero-after{
  .container{
    .hero-content{
      .hero-list{
        display: none;
      }
    }
    .hero-actions{
      margin-top: -18%;
    }
  }
}
@media (max-width:1150px) {
  .hero-after{
    .container{
      .hero-content{
        .hero-list{
          display: block;
        }
      }
      .hero-actions{
        margin-top: 0%;
      }
    }
  }
}